body {
    background: #DDFCDD;
    color: black;
}
h1 {
    text-align: left;
    font-size: 18pt;
    font-style: normal;
    color: blue;
}
.h1-red{
    color: red;
}
#h1-green{
    color: green;
}

h3 {
    text-align: left;
    font-size: 14pt;
    font-style: italic;
    color: magenta;
}
p {
    text-align: center;
    font-style: normal;
    font-family: Cordia New;
    font-size: 14pt;
}
