h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #2c3e50;
  margin-bottom: 30px;
  font-weight: bold;

}
h2 {
  font-size: 1.8rem;
  color: #34495e;
  margin: 20px 0 15px 0;
  font-weight: bold;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

table {
    border-collapse: collapse; /* รวมขอบใน table เป็นเส้นเดียวกัน */
    border-radius: 20px; /* โค้งมน */
    overflow: hidden; /* ตัดส่วนเกินขอบออก */
    border: 1px solid #050049;
}
th {
    background-color: #4235eb;
    color: white;
    padding: 16px;
    text-align: center;
    font-weight: bold; /* ตัวหนา */
}

td {
    background-color: #c7d8e3;
    padding: 15px;
    text-align: center;
}

tfoot {
    background-color: #1f1884;
    padding: 16px;
    text-align: center;
}